@page "/tfirst"
@inject IJSRuntime JSRuntime

<PageTitle>Blazor + THREE.js</PageTitle>

<h1>TFirst</h1>
<div style="position: relative; width: 100%; height: 100vh;">
	<canvas id="@canvasId" style="position: absolute; width: 100%; height: 100%;"></canvas>
</div>

@code {
	const string canvasId = "canvas-id";

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		object[] args = { canvasId };
		var module = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./js/threeExample1.js");
		await module.InvokeVoidAsync("RunScene", args);
	}
}